<h1>Welcome to BEWD Games!</h1>

<p>Choose what game you want to play:</p>

<div><%= link_to 'Play Secret Number!', new_secret_number_path %>
</br><%= link_to image_tag("games/secret-number.jpg") %></div>
<div><%= link_to 'Play Rock Paper Scissors Game!', new_rock_paper_scissor_path %>
<br><%= link_to image_tag("games/rock-paper-scissors.jpg") %></div>
