
<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTQe4qizbqSNWlOKS9CuGCXcPWyOrOxqiLoX7dc-jn7zaE7Kovl">
<div class="col-md-12">
	<div class="table-responsive">
		<h1 style="color:#000000;">The Incredible Music App</h1>
		<p>See our collection of top music artists & songs</p>					
		<p><%= javascript_include_tag "application" %> </p>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      	<li><a href=<%= artists_path %>>View All Artists</a></li>
        <li class="active"><a href=<%= record_labels_path %>>View All Record Labels <span class="sr-only">(current)</span></a></li>
        <li><a href=<%= songs_path %>>View All Songs</a></li>
      </ul>
    </div>
  </div>
 </nav>

</div>