<% if @winner %>
  <%= render 'win' %>
<% else %>
  <%= render 'lose' %>
<% end %>

<p>
  <h3>LET'S PLAY AGAIN! Choose your game:</br>
  <%= link_to "Secret Number Game", new_secret_number_path %></br>
<%= link_to "Rock Paper Scissors Game", new_rock_paper_scissor_path %></h3>
</p>
