<h1>Welcome to Rock Paper Scissors!</h1>

<p>This game is fairly complex but very fun!</p>

<p>You need to choose 1 of the 3 items to play:
<ul>Rock</ul>
<ul>Paper</ul>
<ul>Scissors</ul>

<p>You are playing against the computer and she will choose an item too!</p>

<p>Now here is the complicated part...</br></br>
The rules are:</br>
Rock beats Scissors</br>
Paper beats Rock</br>
Scissors beats Paper</br>

<p>So choose wisely!</p></a>

<h2>Pick an item:<h2>

<% @rock_paper_scissors.each do |item| %>
  <%= link_to image_tag("rock_paper_scissors/#{item}.jpg"), rock_paper_scissor_path(item) %>

<% end %>